legend.form-label-bold {
    font-size: 1.1em;
    margin-bottom: 0.5em;
}

.panel-border-narrow, .panel {
    padding-top: 0;
}

span.error-message, .form-hint {
    margin-bottom: 0.5em;
}

.form-label {
    font-weight: bold;
}

.lookup-results-fieldset {
    margin-top: 30px;
}

.loading {
    display: none;
    margin-top: 10px;
    padding: 5px 0 0 39px;
    background: url("/fhdds/assets/images/loading.gif") no-repeat;
}

/* application.min.css is overriding this to 0 after declaring it! */

table {
    margin-bottom: 1.57895em;
}